*{
    margin: 0;
    padding: 0;
}
.bodypagina{
    background-color: aquamarine;
    background-image: url("../img/fondo.jpg");
}


.areaPrincipal {   
    width: 750px;
    position: absolute;
    left: 50%;
    margin-left: -250px;

}



